{% extends "frontend/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
Receiving Data Collection
{% endblock %}

{% block content %}

<!-- For Every Pages Start -->
<!-- Nav Bar Start-->
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="{% url 'frontend:index' %}">Rainbow Cat Alpha</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#!">Logout</a></li>
            </ul>
        </li>
    </ul>
  </nav>
  <div id="layoutSidenav">    
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="{% url 'frontend:index' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Services</div>
                    <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutsReceiving" aria-expanded="true" aria-controls="collapseLayoutsReceiving">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-video"></i></div>
                        Receiving
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse show" id="collapseLayoutsReceiving" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link active" href="{% url 'frontend:receiving' %}">Data Recording</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutsDelivering" aria-expanded="false" aria-controls="collapseLayoutsReceiving">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-table"></i></div>
                        Delivering
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayoutsDelivering" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="{% url 'frontend:delivery_add_data' %}">Create Delivery Data</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-database"></i></div>
                        Data Analysing
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="{% url 'frontend:receiving_search' %}">Searching</a>
                            <a class="nav-link" href="{% url 'frontend:compare_view' %}">Comparing</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Pages
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                Authentication
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="login.html">Login</a>
                                    <a class="nav-link" href="register.html">Register</a>
                                    <a class="nav-link" href="password.html">Forgot Password</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                Error
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="401.html">401 Page</a>
                                    <a class="nav-link" href="404.html">404 Page</a>
                                    <a class="nav-link" href="500.html">500 Page</a>
                                </nav>
                            </div>
                        </nav>
                    </div>                    
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Administrator
            </div>
        </nav>
    </div>
<!-- Nav Bar End-->


<div id="layoutSidenav_content" class="bg-secondary bg-opacity-25">
    <main>
        <div class="container-fluid px-4 col-xl-6 col-lg-8 col-md-8 offset-lg-2 offset-xl-3 offset-md-2">  
            <h3 class="mt-4 d-flex d-flex align-items-center justify-content- text-center">
                <span class="text-success">Receiving Services</span> <a href="{% url 'frontend:receiving' %}"> <span class="btn btn-success bsb-btn-circle pe-none mx-3">1</span> </a>
                <i class="fa-solid fa-chevron-right fa-xs text-secondary"></i>
                <span class="btn {% if ai_results %}btn-success{% else %}btn-secondary{%endif%} border bsb-btn-circle pe-none mx-3"> 2</span>
            </h3>
            {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <div class="alert alert-success mt-3 mb-0 pb-0">
                                <ul class="messages">
                                    <li>{{ message }}</li>
                                </ul>
                            </div>
                        {% else %}
                            <div class="alert alert-warning mt-3 mb-0 pb-0">
                                <ul class="messages">
                                    <li>{{ message }}</li>
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active"></li>
            </ol>
            <div class="row">
                <div class="col-md-12">
                    <div class="card text-white mb-3">
                        <div class="card-body">
                           <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                                <div class="input-group">
                                  <input type="file" class="form-control" id="imageFile" name="imageFile" accept="image/*" required>
                                  <button type="submit" class="btn btn-success input-group-append">Upload Image</button>
                                </div>                            
                           </form>
                        </div>
                    </div>
                </div>
            </div>

</div>             
</main>

<!-- For Every Pages End -->

<div>
    <main>
        <div class="container-fluid px-4 col-xl-6 col-lg-8 col-md-8 offset-lg-2 offset-xl-3 offset-md-2">
            <div class="container">
                <div class="row justify-content-between">
                     <div class="mb-3 col-6 col-lg-4 col-md-6 col-sm-6">
                            <span title="Trip Number">
                            <label for="trip_number" class="form-label d-lg-inline d-md-block d-sm-block text-secondary">Trip :</label>
                            {{ inputed_trip_number }}
                      </div>
                      <div class="mb-3 col-6 col-lg-2 col-md-6 col-sm-6">
                        <label for="location" class="form-label d-lg-inline d-md-block d-sm-block text-secondary">Loc :</label>
                        {{ selected_location }}
                      </div>
                      <div class="mb-3 col-12 col-lg-6 col-md-6 col-sm-6">
                        <label for="Container" class="form-label d-lg-inline d-md-block d-sm-block text-secondary">Container :</label>
                        {{ inputed_container_num }}
                      </div>
                      <div class="mb-3 col-6 col-lg-4 col-md-6 col-sm-6">
                        <label for="plate_num" class="form-label d-lg-inline d-md-block d-sm-block text-secondary">Plate :</label>
                        {{ inputed_plate_number }}                        
                      </div>                                            
                      <div class="mb-3 col-6 col-lg-2 col-md-6 col-sm-6">
                        <label for="stack" class="form-label d-lg-inline d-md-block d-sm-block text-secondary">Stack :</label>
                        {{ selected_stack_number }}
                      </div>                              
                    
                      <div class="mb-3 col-12 col-lg-6 col-md-6 col-sm-6">
                        <label class="form-label d-lg-inline d-md-block d-sm-block text-secondary" for="invoice_num">Invoice :</label>
                        {{ inputed_invoice_num }}
                    </div>
                    {% comment %} <div class="mb-3 col-12 col-lg-12 col-md-12 col-sm-12 text-center">
                        <label class="form-label d-inline d-sm-inline text-secondary" for="imageFile">Image:</label>
                        {% if ai_results %}
                            {{ selected_image_filename }}
                        {% else %}
                        "No Image yet!"
                        {% endif %}
                    </div>                           {% endcomment %}
                </div>                            
            </div>
        <section>                    
            <div class="card bg-white bg-opacity-75 border rounded">                    
                <div class="card-body">
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="mb-3 col-6 col-lg-6 col-md-6 col-sm-6 text-start">
                                <span title="Trip Number">
                                <label for="trip_number" class="form-label px-0 mx-0 inline text-secondary">Date :</label>
                                <span class=" px-0 mx-0 ">{{ today }}</span>
                          </div>
                          <div class="mb-3 col-6 col-lg-6 col-md-6 col-sm-6 text-end">
                            <label for="location" class="form-label px-0 mx-0 d-inline d-xs-block d-xs-inline d-xl-inline d-lg-inline d-md-inline d-sm-inline text-secondary">Time :</label>
                            {{ now }}
                          </div>
                        </div>                            
                    </div>

                        {% if ai_results %}
                        <div class="table-responsive m-0">
                            <table class="table table-hover text-nowrap border bg-white rounded-2">
                                <thead class="bg-success bg-opacity-10">
                                    <tr>
                                        <th class="text-center align-middle">Model</th>
                                        <th class="text-center align-middle">Count</th>
                                        <th class="text-center align-middle">Remark</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in ai_results %}
                                        <tr>
                                            <td class="text-center">{{ item.case_model }}</td>
                                            <td class="text-center">{{ item.case_model_count }}</td>
                                            <th class="text-center">AI</th>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table> 
                        </div>
                    {% else %}
                    <div class="table-responsive m-0">
                        <table class="table table-hover text-nowrap border bg-white rounded-2">
                            <thead class="bg-success bg-opacity-10">
                                <tr>
                                    <th class="text-center align-middle">Model</th>
                                    <th class="text-center align-middle">Count</th>
                                    <th class="text-center align-middle">Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td colspan="3" class="text-danger text-center"><i class="fa-solid fa-hourglass-start"></i> Waiting the Data...</td>

                                    </tr>
                            </tbody>
                        </table> 
                    </div>
                        
                    {% endif %}


                </div>                
        </section>
                    
                    <div class="card-footer mt-3">
                        <form method="POST" class="d-flex justify-content-center" name="save_data">
                            {% csrf_token %}
                            
                            <button type="submit" class="btn btn-success mb-3 col-6 col-xl-5 col-md-4 col-sm-12" name="save_data" {% if not ai_results %}disabled{% endif %}>
                                <i class="fa-regular fa-floppy-disk"></i> Submit
                            </button>
                        </form>
                    </div>
    </div>
</main>
</div>

{% endblock %}